<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
	backupGlobals="false" colors="true" bootstrap='./vendor/autoload.php'>

	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="UnitTest.php">./Mezon/Gui/Tests</directory>
			<directory suffix="UnitTest.php">./Mezon/Gui/FormBuilder/Tests</directory>
			<directory suffix="UnitTest.php">./Mezon/Gui/WidgetsRegistry/Tests</directory>
			<directory suffix="UnitTest.php">./Mezon/Gui/Field/Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory>./Mezon/Gui</directory>
			<exclude>
				<directory>./Mezon/Gui/Tests</directory>
				<directory>./Mezon/Gui/Field/Tests</directory>
				<directory>./Mezon/Gui/FormBuilde/Tests</directory>
				<directory>./Mezon/Gui/WidgetsRegistry/Tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html"
			target="./tmp/coverage-phpunit.html"></log>
		<log type="coverage-text" target="php://stdout"
			showOnlySummary="true"></log>
	</logging>
</phpunit>